<!DOCTYPE html><html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>git htmls and infos</title>
  </head>
  <body>
    <h1>git-docs-ja</h1>
    <p>ぼちぼち翻訳中です。</p>
    <p>リポジトリは <a href="https://github.com/kuma35/git-docs-ja">https://github.com/kuma35/git-docs-ja</a> の docs-ja ブランチをご覧下さい。</p>
    <h1>git htmls</h1>
    <p> based on ${GIT_VERSION} </p>
    <a href="htmldocs/git.html">git</a><br/>
    <a href="htmldocs/MyFirstObjectWalk.html">MyFirstObjectWalk</a><br/>
    <h1>git info</h1>
    <a href="info/git.info">git.info</a><br/>
    <a href="info/gitman.info">gitman.info</a><br/>
    <a href="info/dir">dir</a><br/>
    <h1>git text</h1>
    <a href="INSTALL">INSTALL</a><br/>
</body>
</html>
